<%- include('./_partial/header', {
    type: "preview",
    title: "Free Font - 商用免费字体下载｜Free Font 中文与英文字体合集",
    pageurl: "preview.html",
    description: "免费字体下载，收录大量可商用的中文与英文字体，支持个人与商业免费使用，提供高速下载。",
    keywords: "免费字体,商用字体,汉字字体,英文字体,字体下载,免费商用字体,free fonts,commercial free fonts,Chinese fonts,English fonts,font download,free commercial fonts"
}); %>
<header>
  <%- include('./_partial/header-title', { length: DATA.length, type: "" }); %>
  <div class="download" id="downloads"></div>
  <div id="preview"></div>
  <div id="license"></div>
  <sup class="appinfo">使用<a href="https://wangchujiang.com/#/app" target="_blank">我的应用</a>，也是对我的<a href="https://wangchujiang.com/#/sponsor" target="_blank">支持</a>：</sup>
  <div class="app">
  <% GLOBAL.myapp.forEach(function(app) { %>
      <a href="<%= app.href %>" target="_blank">
        <img width="45px" height="45px" src="appicon/<%= app.image %>" alt="<%= app.title %>" title="<%= app.title %>">
      </a>
  <% }); %>
  </div>
</header>
<main>
  <p id="font-status" align="center"></p>
  <% if (GLOBAL.docker == false) { %>
  <div class="info">⚠️ 由于项目超过了 1GB，且流量超出了免费使用的界限，导致产生了几十美元的费用。目前我们没有任何捐赠，无法承担这些费用。因此，决定取消下面的字体预览功能。虽然这可能会导致 GitHub 文件下载速度稍慢，但使用上不会受到影响。</div>
  <% } %>
  <h2>英文字体预览</h2>
  <div contenteditable="true" spellcheck="false" style="padding: 1em 1em;font-size: 32px; background: transparent;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
  <div contenteditable="true" spellcheck="false" style="padding: 1em 1em;font-size: 32px; background: transparent;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
  <div contenteditable="true" spellcheck="false" style="padding: 1em 1em;font-size: 32px; background: transparent;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
  <h2>大写字母预览</h2>
  <pre contenteditable="true">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</pre>
  <h2>小写字母预览</h2>
  <pre contenteditable="true">a b c d e f g h i j k l m n o p q r s t u v w x y z</pre>
  <h2>数字预览</h2>
  <pre contenteditable="true">0 1 2 3 4 5 6 7 8 9</pre>
</main>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BXQ518QEFJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BXQ518QEFJ');
</script>
<%- include('./_partial/preview_scripts', { docker: GLOBAL.docker }); %>
<%- include('./_partial/footer', { }); %>