<h1><a href="./index.html">Free Font 商用免费字体</a></h1>
<nav>
  <a class="<%= type === "全部" ? "active" : ""%>" href="index.html">全部字体</a>
  <a class="<%= type === "黑体" ? "active" : ""%>" href="hei.html">黑体</a>
  <a class="<%= type === "楷体" ? "active" : ""%>" href="kai.html">楷体</a>
  <a class="<%= type === "宋体" ? "active" : ""%>" href="song.html">宋体</a>
  <a class="<%= type === "艺术体" ? "active" : ""%>" href="art.html">艺术体</a>
  <a class="<%= type === "手绘体" ? "active" : ""%>" href="handwriting.html">手绘体</a>
  <a class="<%= type === "英文" ? "active" : ""%>" href="english.html">英文字体</a>
  <a class="<%= type === "开源字体" ? "active" : ""%>" href="open-source.html">开源字体</a>
</nav>
<p>Free Font 收录了 <a href="https://github.com/jaywcjlove/free-font" target="_blank"><%= length %></a> 个可商用免费字体，方便《<a href="https://github.com/jaywcjlove/copybook-generator" target="_blank" title="字帖宝宝 for macOS">字帖宝宝</a>》用户下载和使用。</p>