<div>
  <% const pageURL = `details/${font.name}.html`; %>
  <a href="<%=pageURL%>" title="<%=font.name%>">
    <img src="./images/<%=font.name%>-poster.jpg" loading="lazy" alt="<%=font.name%>">
    <p>
      <span><%=font.name%></span>
      <span class="license">
        <i><%=font.license ?? "商免"%></i>
        <%-font.size ? `<i class="size">${font.size}</i>` : ""%>
      </span>
    </p>
  </a>
  <a href="<%=pageURL%>" class="button" title="下载<%=font.name%>字体">下载字体</a>
</div>